<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.dreiucker.javadocextender.elementprovider" name="JavadocElementProvider" schema="schema/net.dreiucker.javadocextender.elementprovider.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="net.dreiucker.javadocextender.contentassist.JavadocCompletionProposalComputer"
            needsSortingAfterFiltering="false">
         <partition
               type="__java_javadoc">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="net.dreiucker.javadocextender.marker.JavadocCompilationParticipant"
            createsProblems="true"
            id="JavadocExtender.compilationParticipant"
            modifiesEnvironment="false">
         <managedMarker
               markerType="JavadocExtender.unknownReferenceMarker">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="net.dreiucker.javadocextender.hyperlink.JavadocHyperlinkDetector"
            id="net.dreiucker.JavadocExtender.hyperlinkDetector"
            name="JavadocHyperlinkDetector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         id="JavadocExtender.unknownReferenceMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
