<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.dreiucker.javadocextender.elementprovider">
      <client
            providerclass="net.dreiucker.javadocextender.provider.DummyElementProvider">
      </client>
   </extension>
   <extension
         point="net.dreiucker.javadocextender.elementprovider">
      <client
            providerclass="net.dreiucker.javadocextender.provider.DummyElementProvider2">
      </client>
   </extension>
   <extension
         point="net.dreiucker.javadocextender.elementprovider">
      <client
            providerclass="net.dreiucker.javadocextender.provider.DummyElementProvider3">
      </client>
   </extension>

</plugin>
